<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    
    <!-- donde queremos q se muestren los logs,  en consola o en un archivo o los 2 -->
    <Appenders>		
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <File name="LogToFile" fileName="C:/Users/Fanta/Downloads/Aplicaciones_Empresariales_Empleo/logs_app/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.mkyong" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
    
</Configuration>